<ul >
	<% @tweets.each do |tweet| #whatever is in || refers to each object in tweets%>
		<li>
			<%= tweet.user.profile.profile_name%> |
			<%= tweet.content %> |
			<% if current_user.following?(tweet.user) %> 
				<button type="button" class="btn btn-danger"> Already Following </button>
			<% else %>
				<%= simple_form_for @relationship do |f| %>
					<%= f.input :followed_id, as: :hidden, input_html: {value: tweet.user.id} %>
				<!--hidden field is a form field in the html that doesn't show up that is in the code- has user id of user you want to follow-->
					<%= f.button :submit, class: 'btn btn-primary', value: 'Follow' %>
				<% end %>
			<% end %>
		</li>
	<% end %>
</ul>